/***** SECCION CONTACTO *****/

.header {
  background-color: rgb(29, 28, 28);
  height: 70px;
}
.formulario {
  margin: 100px 0px 20px 0px;
  color: #0e0d0d;
  height: 300px;
  padding: 20px;
  width: 400px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.titulo-contacto {
  margin: 0px 0px 20px 0px;
}

.lista-contacto li {
  margin: 0px 0px 5px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.msg {
  height: 100px;
}
